#content {
    max-width: 80em; 
    margin: 0 auto;   
}

body {
    font-family: 'Righteous', cursive;
    font-size: 15px;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    margin: 0 auto;
    max-width: 80em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0;
    background-color: #eee;
    border-radius: 10px;
}

img {
    width: 98%;
	height: auto;
    border: 1px solid #bbb;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}




header, footer {
    background-color: rgb(197, 197, 42);
    text-align: center;
}

#headerP {
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: 15px;
}


h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    
}

h2 {
    margin: 0;
    background-color:  rgb(197, 197, 42);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    font-family: 'Righteous', cursive;
}

h3 {
    padding: 5px;
}

section a {
    margin: 10px;
}

section p {
    padding: 10px;
    text-align: left;
}

p {
    margin: 0;
    font-size: 15px;
    text-align: center;
}

