@media only screen and (min-width: 1200px){
    header, main{
        max-width: 1200px;
        margin: auto;
        margin-bottom: 1rem;
    }
    h1{
        font-size: 3rem;
    }
    /*Temple display*/
    .temple_display{
        grid-template-columns: 1fr;
        
    }
    .information{
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}