@media only screen and (min-width: 1200px) {


    nav {
        font-size: 25px;
    }

    main,
    footer {
        max-width: 90%;
        margin: auto;
        margin-top: 3rem;
    }
    footer {
        max-width: 100%;
    }

    .logopic {
        width: 200px;
    }

    h1 {
        font-size: 60px;

    }

    h2 {
        font-size: 40px;
    }

    .flex-child {
        font-size: 20px;
    }

    footer {
        font-size: 20px;
    }

    .flex-child {
        margin: 1em 0;
    }

    .forecast section {
        padding: 1em;
    }

    /* gallery div*/
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
    }
    .imageholder:hover {
        box-shadow: 0 0 50px #333;
        font-weight: bold;
    }


}