/* Nav */
nav,
footer {
    margin: 0 auto;
    max-width: 600px;
    background-color: #0044AB;
    text-align-last: center;
}

nav {
    font-family: 'Concert One', cursive;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.navigation a:hover {
    color: white;
    background-color: #376BB9;
}

.responsive li {
    display: block;
}

.active a {
    background-color: #55CFFF;
    color: #0044AB;
}

/* Body */
body {
    font-size: 16px;
    font-family: 'Carter One', cursive;
}

header {
    background-color: #55CFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 120px;
    height: auto;
}

.heading {
    display: flex;
    flex-direction: column;
}

.heading p {
    margin: 0;
    text-align: center;

}

h1 {
    color: #0044AB;
    margin: auto;
    font-size: 40px;
    font-family: 'Concert One', cursive;
    text-shadow: 2px 2px #36453f;
}

h2 {
    text-align: center;
    color: #376BB9;
}

/*main */
main {
    display: block;
    min-height: 30rem;
}

/* Footer */
footer {
    color: white;
    padding: 1em;
    margin-top: 3rem;
}

footer p {
    margin: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
}

/*banner*/
.banner {
    text-align: center;
    background-color: yellow;
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
}

.nobanner {
    display: none;
}

/* form*/

form { 
    max-width: 500px;
    margin: auto;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;

}
form label.top input, form label.top select, form label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 90%;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
}
.userL {
    display: block;
    padding-top: 1rem;
}
form input.submitBtn {

    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 96%;
    margin: auto;
    margin-left: 2%;
}
form input.submitBtn:hover {
    box-shadow: 0 0 10px #999;
    font-weight: bold;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
label.required::after {
    content: " *";
    color: red;
}

#severity {
    
    align-items: center;
}
span {
    padding: 1rem;
}
* {
    box-sizing: border-box;
}