@media (min-width: 60em) {
    main {
		grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .audience {
        height: 700px;
    }
    .person {
       
        height: 700px;
    }
    .scenario {
        grid-column: span 1;
        height: 700px;
    }
}