body {
    font-size: 15px; 
    font-family: 'Righteous', cursive;  
}

header,
footer {
	background-color: rgb(197, 197, 42);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

h1 {
	font-size: 4rem;
}

nav {
	background-color: #36454f;
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}

nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

nav a:hover {
	background-color: #bbb;
	color: #36454f;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 120em;
}

main section {
	margin: 0;
	border: 1px solid #bbb;
	padding: 0;
}

.audience {
	border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;
    text-align: center;
}

.person {
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;
    text-align: center;
}

.scenario {
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;
    text-align: center;
}

section ul {
    text-align: left;
}

section ol {
    text-align: left;
}


