@media only screen and (min-width: 1200px){
    header, main{
        max-width: 1200px;
        margin: auto;
        margin-bottom: 1rem;
    }
    h1{
        font-size: 3rem;
    }
    .reservation{
        position: absolute;
        top: 20%;
        left: 10%;
        width: 400px;
        height: 200px;
    }
    .nav a{
        padding: 0.75rem;
    }
}